In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

#### Read and Convert

In [2]:
df = pd.read_csv(r'../data/raw/lịch_sử_giao_dịch.csv', low_memory=False, index_col=0).reset_index()
# df.drop(columns=['proprietary_buy_volume', 'proprietary_buy_value', 'proprietary_sell_volume', 'proprietary_sell_value', 'proprietary_net_volume', 'proprietary_net_value'], inplace=True)
df.head()

,stock_code,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,highest_price,lowest_price,percent,Ngành
0,VIC,Tập đoàn VINGROUP - CTCP,2025-03-18,51.3,NaN,-0.8,6017000,312.07,1923099,100.19,52.10,52.70,51.10,-1.54,Bất Động Sản
1,VIC,Tập đoàn VINGROUP - CTCP,2025-03-17,52.1,NaN,-0.1,6497300,337.13,134000,7.04,52.50,52.70,50.80,-0.19,Bất Động Sản
2,VIC,Tập đoàn VINGROUP - CTCP,2025-03-14,52.2,NaN,0.8,8422600,440.87,0,0.00,51.80,52.80,51.40,1.56,Bất Động Sản
3,VIC,Tập đoàn VINGROUP - CTCP,2025-03-13,51.4,NaN,3.3,16415000,833.85,86000,4.21,48.30,51.40,47.50,6.86,Bất Động Sản
4,VIC,Tập đoàn VINGROUP - CTCP,2025-03-12,48.1,NaN,0.8,7003400,336.19,0,0.00,47.35,48.25,47.35,1.69,Bất Động Sản

In [3]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df.dropna(subset=['transaction_date'], inplace=True)

In [4]:
print(len(df['stock_code'].unique()))
df['stock_code'].unique()

32

array(['VIC', 'VHM', 'BCM', 'SSH', 'VRE', 'KDH', 'KBC', 'KSF', 'BSR',
       'PVS', 'PVD', 'HGM', 'MVB', 'SQC', 'TMB', 'CST', 'FPT', 'CMG',
       'ITD', 'POT', 'HPT', 'CMT', 'PIA', 'VTB', 'VCB', 'BID', 'CTG',
       'TCB', 'VPB', 'MBB', 'ACB', 'LPB'], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92746 entries, 0 to 92745
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   stock_code         92746 non-null  object
 1   company_name       92746 non-null  object
 2   transaction_date   92746 non-null  datetime64[ns]
 3   closing_price      92746 non-null  float64
 4   adjusted_price     80455 non-null  float64
 5   change             92746 non-null  float64
 6   matched_volume     92746 non-null  int64
 7   matched_value      92746 non-null  float64
 8   negotiated_volume  92746 non-null  int64
 9   negotiated_value   92746 non-null  float64
 10  opening_price      92746 non-null  float64
 11  highest_price      92746 non-null  float64
 12  lowest_price       92746 non-null  float64
 13  percent            92746 non-null  float64
 14  Ngành              92746 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(2), object(3)
memory usage: 10.6+ MB

In [6]:
# df['foreign_ownership'] = df['foreign_ownership'].str.replace('%', '', regex=True)

# columns_notchange = ['stock_code', 'transaction_date', 'company_name_foriegnBlock', 'change_hisCost', 'change_orderStat', 'change_foriegnBlock', 'change_orderStat', 'matched_value']
# columns_change = df.columns.difference(columns_notchange)

# for column in columns_change:
#     print(column)
#     df[column] = df[column].replace('--', pd.NA).str.replace(',', '')
#     df[column] = pd.to_numeric(df[column], errors='coerce')

In [7]:
df.sort_values(by=['stock_code', 'transaction_date'], ascending=[True, True], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,stock_code,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,highest_price,lowest_price,percent,Ngành
0,ACB,Ngân hàng TMCP Á Châu,2006-11-21,135.0,5.72,15.0,56500,7.37,0,0.0,120.0,150.0,119.0,12.50,Ngân hàng
1,ACB,Ngân hàng TMCP Á Châu,2006-11-22,135.0,5.72,4.8,62300,8.39,0,0.0,143.2,143.2,130.0,3.69,Ngân hàng
2,ACB,Ngân hàng TMCP Á Châu,2006-11-23,143.0,6.06,8.3,69900,9.68,0,0.0,145.0,145.0,130.0,6.16,Ngân hàng
3,ACB,Ngân hàng TMCP Á Châu,2006-11-27,142.0,6.02,-4.8,42400,6.23,0,0.0,146.8,161.4,135.0,-3.27,Ngân hàng
4,ACB,Ngân hàng TMCP Á Châu,2006-11-28,142.0,6.02,-4.8,19800,2.84,0,0.0,150.0,150.0,140.0,-3.27,Ngân hàng

In [8]:
df[df['closing_price'].isna()]

Empty DataFrame
Columns: [stock_code, company_name, transaction_date, closing_price, adjusted_price, change, matched_volume, matched_value, negotiated_volume, negotiated_value, opening_price, highest_price, lowest_price, percent, Ngành]
Index: []

In [9]:
data = df
# data = df[['stock_code', 'transaction_date', 'closing_price']]
data.head()

,stock_code,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,highest_price,lowest_price,percent,Ngành
0,ACB,Ngân hàng TMCP Á Châu,2006-11-21,135.0,5.72,15.0,56500,7.37,0,0.0,120.0,150.0,119.0,12.50,Ngân hàng
1,ACB,Ngân hàng TMCP Á Châu,2006-11-22,135.0,5.72,4.8,62300,8.39,0,0.0,143.2,143.2,130.0,3.69,Ngân hàng
2,ACB,Ngân hàng TMCP Á Châu,2006-11-23,143.0,6.06,8.3,69900,9.68,0,0.0,145.0,145.0,130.0,6.16,Ngân hàng
3,ACB,Ngân hàng TMCP Á Châu,2006-11-27,142.0,6.02,-4.8,42400,6.23,0,0.0,146.8,161.4,135.0,-3.27,Ngân hàng
4,ACB,Ngân hàng TMCP Á Châu,2006-11-28,142.0,6.02,-4.8,19800,2.84,0,0.0,150.0,150.0,140.0,-3.27,Ngân hàng

In [10]:
stock_dfs = {}

for stock in data['stock_code'].unique():
    stock_dfs[stock] = data[data['stock_code'] == stock]
    stock_dfs[stock].drop(columns=['stock_code'], inplace=True)

In [11]:
import plotly.io as pio
pio.renderers.default = "browser"

fig = go.Figure()
for stock, data in stock_dfs.items():
    fig.add_trace(go.Scatter(x=data['transaction_date'], y=data['closing_price'], mode='lines', name=stock))

fig.update_layout(title='Biểu đồ giá đóng cửa theo thời gian cho mỗi mã chứng khoán',
                  xaxis_title='Ngày',
                  yaxis_title='Giá Đóng Cửa',
                  legend_title='Mã Chứng Khoán')

fig.show()

---

#### Missing and Outlier

In [12]:
from statsmodels.tsa.seasonal import MSTL
from statsmodels.tsa.stattools import adfuller

In [13]:
data = stock_dfs['ACB']
data[data['transaction_date'].dt.year == 2018].head()

,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,highest_price,lowest_price,percent,Ngành
2764,Ngân hàng TMCP Á Châu,2018-01-02,38.8,8.15,1.9,3657426,138.68,5046,0.18,37.0,38.9,36.8,5.15,Ngân hàng
2765,Ngân hàng TMCP Á Châu,2018-01-03,38.7,8.13,-0.1,5056543,195.80,20106,0.70,38.8,39.1,38.0,-0.26,Ngân hàng
2766,Ngân hàng TMCP Á Châu,2018-01-04,38.8,8.15,0.1,6365641,246.37,0,0.00,38.7,38.9,38.4,0.26,Ngân hàng
2767,Ngân hàng TMCP Á Châu,2018-01-05,38.8,8.15,0.0,6453452,250.46,4,0.00,39.0,39.5,38.4,0.00,Ngân hàng
2768,Ngân hàng TMCP Á Châu,2018-01-08,40.1,8.43,1.3,3879771,153.16,2,0.00,38.8,40.1,38.8,3.35,Ngân hàng

In [14]:
def process_history(df):
    all_dates = pd.date_range(start=df['transaction_date'].min(), end=df['transaction_date'].max())
    existing_dates = set(df['transaction_date'])


    missing_holidays = [d for d in all_dates if d not in existing_dates and d.weekday() < 5]

    holiday_df = pd.DataFrame({'transaction_date': missing_holidays})
    holiday_df['is_history'] = 1  


    df = pd.concat([df, holiday_df], ignore_index=True).sort_values(by='transaction_date')

    df.fillna(method='ffill', inplace=True)
    df['is_history'] = df['is_history'].fillna(0).astype(int)
    df.reset_index(drop=True, inplace=True)

    return df

In [15]:
def split_data(data, start_date = "2018-01-01", end_date = "2024-12-31"):
    mask = (data['transaction_date'] >= start_date) & (data['transaction_date'] <= end_date)
    filtered_data = data.loc[mask]
    return filtered_data

In [16]:
def process_missing_data(data):
    print(f"Have {data['closing_price'].isna().sum()} miss data")
    data['closing_price'] = data['closing_price'].interpolate(method="linear")
    data['closing_price'] = data['closing_price'].fillna(method='ffill').fillna(method='bfill')

    mstl = MSTL(data['closing_price'], periods=[5])
    res = mstl.fit()
    
    df_deseasonal = data["closing_price"] - res.seasonal
    df_deseasonal_imputed = df_deseasonal.interpolate(method="linear")
    df_deseasonal_imputed = df_deseasonal_imputed.fillna(method='ffill').fillna(method='bfill')

    data['closing_price'] = df_deseasonal_imputed + res.seasonal
    data['closing_price'] = data['closing_price'].round(1)
    return data
    return data

In [17]:
def process_outlier_data(data, visualize=False):
    mstl = MSTL(data['closing_price'].interpolate(method="linear"), periods=(5))
    res = mstl.fit()
    data['resid'] = res.resid
    Q1 = data['resid'].quantile(0.25)
    Q3 = data['resid'].quantile(0.75)
    IQR = Q3 - Q1

    alpha = 3
    data['lower'] = Q1 - alpha * IQR
    data['upper'] = Q3 + alpha * IQR
    data['is_outlier'] = (data['resid'] < data['lower']) | (data['resid'] > data['upper'])
    print(f"Have {data['is_outlier'].sum()} outlier data")
    data['original_price'] = data['closing_price'].copy()
    data.loc[data['is_outlier'], 'closing_price'] = np.nan
    data = process_missing_data(data)
    # print(data["closing_price"])
    if visualize:
        # Tạo đối tượng biểu đồ
        fig = go.Figure()

        # Thêm dữ liệu và đường biểu đồ
        fig.add_trace(go.Scatter(x=data["transaction_date"], y=data["closing_price"], mode='lines', name='Giá'))
        fig.add_trace(go.Scatter(x=data["transaction_date"], y=data["original_price"], mode='lines', line=dict(color="orange"), name='Giá ban đầu'))
        fig.add_trace(go.Scatter(x=data["transaction_date"], y=res.resid, mode='lines', name='Phần dư'))
        fig.add_trace(go.Scatter(x=data["transaction_date"][data['is_outlier']], y=data['closing_price'][data['is_outlier']], mode='markers', marker=dict(color='red'), name='Ngoại lệ'))
        fig.add_trace(go.Scatter(x=data["transaction_date"][data['is_outlier']], y=data['resid'][data['is_outlier']], mode='markers', marker=dict(color='red'), name='Ngoại lệ Resid'))
        fig.add_trace(go.Scatter(x=data["transaction_date"], y=data['upper'], mode='lines', line=dict(color='black', dash='dash'), name='Ngưỡng trên'))
        fig.add_trace(go.Scatter(x=data["transaction_date"], y=data['lower'], mode='lines', line=dict(color='black', dash='dash'), name='Ngưỡng dưới'))

        # Đặt nhãn cho trục x và trục y
        fig.update_xaxes(title_text='Thời gian')
        fig.update_yaxes(title_text='Giá')

        # Đặt tiêu đề cho biểu đồ
        fig.update_layout(title='Biểu đồ giá và các giá trị Outliers')

        # Hiển thị biểu đồ
        fig.show()

    return data

In [18]:
def save_file(data, file_path):
    data.drop(columns=["resid", "lower", "upper", "is_outlier", "original_price"], inplace=True)
    data.to_csv(rf'{file_path}', index=False, encoding='utf-8-sig')

In [19]:
df = stock_dfs['ACB']
df = split_data(df)
df.isna().sum()

company_name           0
transaction_date       0
closing_price          0
adjusted_price       151
change                 0
matched_volume         0
matched_value          0
negotiated_volume      0
negotiated_value       0
opening_price          0
highest_price          0
lowest_price           0
percent                0
Ngành                  0
dtype: int64

In [22]:
df_final = pd.DataFrame()
for key, df in stock_dfs.items():
    print(f"Processing {key}")
    df = split_data(df, start_date="2017-01-01", end_date="2024-12-31")
    if df.shape[0] < 400:
        continue
    print(df.isna().sum().values.sum()  )
    df = process_history(df)
    df = process_missing_data(df)

    df = process_outlier_data(df)
    df["stock_code"] = key
    df_final = pd.concat([df_final, df])

Processing ACB
151
Have 0 miss data
Have 40 outlier data
Have 40 miss data
Processing BCM
42
Have 0 miss data
Have 22 outlier data
Have 22 miss data
Processing BID
7
Have 0 miss data
Have 9 outlier data
Have 9 miss data
Processing BSR
Processing CMG
2
Have 0 miss data
Have 33 outlier data
Have 33 miss data
Processing CMT
86
Have 0 miss data
Have 57 outlier data
Have 57 miss data
Processing CST
Processing CTG
272
Have 0 miss data
Have 17 outlier data
Have 17 miss data
Processing FPT
22
Have 0 miss data
Have 40 outlier data
Have 40 miss data
Processing HGM
0
Have 0 miss data
Have 184 outlier data
Have 184 miss data
Processing HPT
34
Have 0 miss data
Have 73 outlier data
Have 73 miss data
Processing ITD
475
Have 0 miss data
Have 22 outlier data
Have 22 miss data
Processing KBC
636
Have 0 miss data
Have 77 outlier data
Have 77 miss data
Processing KDH
54
Have 0 miss data
Have 13 outlier data
Have 13 miss data
Processing KSF
808
Have 0 miss data
Have 80 outlier data
Have 80 miss data
Processing LPB
3
Have 0 miss data
Have 32 outlier data
Have 32 miss data
Processing MBB
0
Have 0 miss data
Have 32 outlier data
Have 32 miss data
Processing MVB
135
Have 0 miss data
Have 22 outlier data
Have 22 miss data
Processing PIA
80
Have 0 miss data
Have 2 outlier data
Have 2 miss data
Processing POT
113
Have 0 miss data
Have 28 outlier data
Have 28 miss data
Processing PVD
603
Have 0 miss data
Have 8 outlier data
Have 8 miss data
Processing PVS
28
Have 0 miss data
Have 24 outlier data
Have 24 miss data
Processing SQC
1981
Have 0 miss data
Have 983 outlier data
Have 983 miss data
Processing SSH
754
Have 0 miss data
Have 52 outlier data
Have 52 miss data
Processing TCB
137
Have 0 miss data
Have 40 outlier data
Have 40 miss data
Processing TMB
145
Have 0 miss data
Have 40 outlier data
Have 40 miss data
Processing VCB
0
Have 0 miss data
Have 14 outlier data
Have 14 miss data
Processing VHM
651
Have 0 miss data
Have 25 outlier data
Have 25 miss data
Processing VIC
845
Have 0 miss data
Have 51 outlier data
Have 51 miss data
Processing VPB
158
Have 0 miss data
Have 66 outlier data
Have 66 miss data
Processing VRE
1412
Have 0 miss data
Have 18 outlier data
Have 18 miss data
Processing VTB
2
Have 0 miss data
Have 12 outlier data
Have 12 miss data

In [23]:
df_final.isna().sum()

company_name            0
transaction_date        0
closing_price           0
adjusted_price       2931
change                  0
matched_volume          0
matched_value           0
negotiated_volume       0
negotiated_value        0
opening_price           0
highest_price           0
lowest_price            0
percent                 0
Ngành                   0
is_history              0
resid                   0
lower                   0
upper                   0
is_outlier              0
original_price          0
stock_code              0
dtype: int64

In [24]:
df_final.head()

,company_name,transaction_date,closing_price,adjusted_price,change,matched_volume,matched_value,negotiated_volume,negotiated_value,opening_price,...,lowest_price,percent,Ngành,is_history,resid,lower,upper,is_outlier,original_price,stock_code
0,Ngân hàng TMCP Á Châu,2017-01-03,19.0,3.99,1.4,1609757.0,30.01,0.0,0.0,17.7,...,17.7,7.95,Ngân hàng,0,-0.724651,-1.040459,1.047789,False,19.0,ACB
1,Ngân hàng TMCP Á Châu,2017-01-04,19.1,4.01,0.1,739000.0,14.23,0.0,0.0,19.0,...,19.0,0.53,Ngân hàng,0,-0.761574,-1.040459,1.047789,False,19.1,ACB
2,Ngân hàng TMCP Á Châu,2017-01-05,19.1,4.01,0.0,471881.0,9.01,0.0,0.0,19.2,...,18.9,0.00,Ngân hàng,0,-0.671477,-1.040459,1.047789,False,19.1,ACB
3,Ngân hàng TMCP Á Châu,2017-01-06,20.1,4.22,1.0,1409824.0,28.17,14.0,0.0,19.1,...,18.9,5.24,Ngân hàng,0,-0.038237,-1.040459,1.047789,False,20.1,ACB
4,Ngân hàng TMCP Á Châu,2017-01-09,20.8,4.37,0.7,970791.0,20.03,11.0,0.0,20.1,...,20.1,3.48,Ngân hàng,0,0.225426,-1.040459,1.047789,False,20.8,ACB

In [25]:
df_final.to_csv(r'../data/processed/stock_data.csv', index=False, encoding='utf-8-sig')

---